#first {
    height: 95px;
    width: 200px;
    background-color: orange;
    color: white;
    vertical-align: auto;
    margin: 10px;
    padding-top: 20px;
}
#second {
    height: 375px;
    width: 200px;
    background-color: tan;
    color: green;
    margin: 10px;
    padding-top: 20px;
}
#third {
    height: 100px;
    width: 200px;
    background-color: rgb(85, 192, 85);
    color: rgb(247, 247, 115);
    vertical-align: auto;
    margin: 10px;
    padding-top: 20px;
}
#fourth {
    height: 100px;
    width: 120px;
    background-color: lightblue;
    color: white;
    vertical-align: auto;
    margin: 10px;
    padding-top: 20px;
}
.crystal {
    height: 170px;
    width: 120px;
    background-color: white;
    vertical-align: auto;
    border: none;
    margin: 5px;
}
#fifth {
    height: 60px;
    width: 120px;
    background-color: rgb(31, 128, 128);
    color: white;
    vertical-align: auto;
    margin: 10px;
    padding-top: 20px;
}
#sixth {
    height: 100px;
    width: 120px;
    background-color: rgb(31, 128, 128);
    color: white;
    vertical-align: auto;
    margin: 0px 10px 10px 10px;
    padding-top: 20px;
}

